nav {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.logo a {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.links a {
  color: #ffffff;
  margin-left: 20px;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.main-logo{
    padding: 0;
    height: 32px;
}