nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

.main-logo {
  height: 50px;
  margin-right: 1rem;
  filter: brightness(100%);
  transition: filter 0.3s ease-in-out;
}

.main-logo:hover {
  filter: brightness(120%);
}

.links {
  display: flex;
}

.links-left {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.links-left a {
  color: #eeeeee;
  font-size: 1.2rem;
  margin-right: 1.5rem;
  text-decoration: none;
}

.links-left a:hover {
  color: #cf0a0a;
}

.links-right a {
  color: #eeeeee;
  font-size: 1.2rem;
  margin-right: 1.5rem;
  text-decoration: none;
  filter: invert(1);
}

.links-right a:hover {
  color: #dc5f00;
}

#search-button,
#user-button {
  height: 24px;
  margin: 0 8px;
}
