.homepage {
  display: grid;
  grid-template-columns: 65% 35%;
  background-color: black;
  color: white;
}

.left-side {
  display: grid;
  width: 90%;
  padding: 1rem;
}

.right-side {
  display: grid;
}
