.item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  border-radius: 10px;
  /* overflow: hidden; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.item-container:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.item-image img {
  height: 280px;
  width: 170px;
  object-fit: cover;
  border-radius: 10px;
}

.item-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid;
}

.item-info h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.item-details {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}
.item-rating {
  display: inline-block;
  padding: 0.25rem;
  font-size: 0.7rem;
  font-weight: bold;
  color: #fff;
  background-color: #ffc107;
  border-radius: 0.25rem;
}

.item-seasons {
  font-size: 0.8rem;
  font-weight: 500;
  color: grey;
}
